

<section class="mainbar page-meta">
    <section class="matter">
        <div class="container">

            <ul class="nav nav-pills">
                <li class="active"><a href="#">Pending Emails</a></li>
                <li><a href="#/monitor/emailDelivery" >Sent Emails</a></li>
                <li><a href="#/monitor">Error Emails</a></li>
                
            </ul>

            <div class="row">
                <div class="widget worange">
                    <div data-cc-widget-header title="Pending Emails"></div>
                    <div class="widget-content user">
                        <!--<div class="col-md-12">
                            <!--<h3 class="col-md-6 pull-left">Grid 1</h3>-
                            <input class="col-md-6 pull-right" placeholder="Search" ng-model="vm.searchTerm1" id="searchText" />
                        </div>-->
                        <br />
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!--<div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Application</th>
                                                    <th>Event Description</th>
                                                    <th>Event Account Description</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in vm.grid1Data | filter:vm.searchTerm1">
                                                    <td>{{data.emailID}}</td>
                                                    <td>{{data.Application}}</td>
                                                    <td>{{data.eventDescription}}</td>
                                                    <td>{{data.emailAccountDescription}}</td>
                                                    <td>ABC</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>-->
                                    <!--end of .table-responsive-->
                                  
                                       <div ui-grid="{data: gridOptions.grid1Data}" class="grid"></div>
                                   
                                       
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            

        </div>
    </section>
</section>
