
<div class="nav-side-menu">

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#/admin">
                    <i class="fa fa-lock"></i> Admin
                </a>
            </li>
            <li data-toggle="collapse" data-target="#monitor" class="collapsed">
                <a href="#/monitor"><i class="fa fa-lock"></i> Monitor</a>
            </li>
                <ul class="sub-menu collapse" id="monitor">
                    <li class="padding">Activity</li>
                    <li class="padding">Scheduler</li>
                    <li class="padding">Application Events</li>
                    <li class="padding">Report Distribution</li>
                    <li class="padding"><a href="#/emailDelivery">Email Delivery</a></li>
                    <li class="padding">Fax Delivery</li>
                    <li class="padding">File Delivery</li>
                </ul>
            
        </ul>
    </div>
</div>
